<!-- stylesheets -->
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="/stylesheets/report.css">
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1>Expense Monitor</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6" align="center">
        <!--Show data of all expenses-->
        <table class="table table-striped custab" width="500px">
            <thead>
                <tr>
                    <th class="text-left">Title</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            {{#each expenses}}
                <tr>
                    <td class="text-left">{{ name }}</td>
                    <td>Rp. {{ formatNumber amount }}</td>
                    <td>{{ formatDate date day="numeric" month="long" year="numeric"}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>   
        </div>
    </div>
    </br>
    </br>
    <div class="row">
        <div class="col-xs-12" align="center">
            <div id="chart">
            </div>
        </div>
    </div>
</div>
<!-- scripts -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--  D3 with angular  -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
// Adapted from http://martin.ankerl.com/2009/12/09/how-to-create-random-colors-programmatically/

var randomColor = (function(){
  var golden_ratio_conjugate = 0.618033988749895;
  var h = Math.random();

  var hslToRgb = function (h, s, l){
      var r, g, b;

      if(s == 0){
          r = g = b = l; // achromatic
      }else{
          function hue2rgb(p, q, t){
              if(t < 0) t += 1;
              if(t > 1) t -= 1;
              if(t < 1/6) return p + (q - p) * 6 * t;
              if(t < 1/2) return q;
              if(t < 2/3) return p + (q - p) * (2/3 - t) * 6;
              return p;
          }

          var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
          var p = 2 * l - q;
          r = hue2rgb(p, q, h + 1/3);
          g = hue2rgb(p, q, h);
          b = hue2rgb(p, q, h - 1/3);
      }

      return '#'+Math.round(r * 255).toString(16)+Math.round(g * 255).toString(16)+Math.round(b * 255).toString(16);
  };
  
  return function(){
    h += golden_ratio_conjugate;
    h %= 1;
    return hslToRgb(h, 0.5, 0.60);
  };
})();
</script>
<script>
    var data = [];
    {{#each expenses}}
        var date = '{{ formatDate date day="numeric" month="long" year="numeric"}}';
        var amount = {{amount}};
        var amountLabel = '{{formatNumber amount}}';
        data.push({date: date, amount: amount, amountLabel: amountLabel});
    {{/each}}
    data.reverse();
    
    var margin = {top: 20, right: 20, bottom: 30, left: 20},
        width = 700 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;
    
    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);
    
    var y = d3.scale.linear()
        .range([height, 0]);
    
    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");
    
    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");
    
    var chart = d3.select("#chart").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
   
    x.domain(data.map(function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.amount; })]);
    
    var bar = chart.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);
    
    chart.selectAll(".bar")
      .data(data)
      .enter()
      .append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.date); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.amount); })
      .attr("height", function(d) { 
          return height - y(d.amount); })
      .style({fill: randomColor});

    chart.selectAll(".text")
       .data(data)
       .enter()
       .append("text")
       .text(function(d) {
            return d.amountLabel;
       })
       .attr("x", function (d) {
           return x(d.date) + x.rangeBand()/2;
       })
       .attr("y", function(d) {
            return y(d.amount) - 5;
       })
       .attr("text-anchor", "middle")
       .attr("font-family", "sans-serif")
       .attr("font-size", "12px")
       .attr("fill", "black");
</script>